* {
  margin: 0;
  padding: 0;
}
.testimonial {
  height: 80vh;
  background-image: url(/image/testimonial/testimonials-bg.jpg);
  @apply relative bg-fixed flex flex-col bg-cover py-24 items-center;
}

.testimonial::after {
  content: '';
  @apply absolute top-0 left-0 right-0 bottom-0 bg-black opacity-60;
}

.slickDotsUp {
  @apply h-[10px] rounded-[5px] bg-[#e5e7e9] relative;
}
.slickDots {
  @apply h-[10px] rounded-[5px] bg-gray-500;
}
.testimonialContainer {
  display: flex;
  justify-content: center;
  @apply z-10 w-[80%];
}
.slider {
  overflow: hidden;
  width: 100%;
  margin: 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  display: -webkit-inline-box;
  scroll-snap-type: inline mandatory;

  @apply md:w-[60%] sm:w-[80%] xs:w-[80%];
}
.slider::-webkit-scrollbar {
  display: none;
}
.containerTest {
  width: 100%;
  scroll-snap-align: center;
  @apply text-center;
}

.description {
  @apply line-clamp-5 leading-6 font-thin;
}
.authorImg {
  @apply flex justify-center;
}
.authorImg img {
  @apply w-28 h-28 rounded-[50%] mb-4;
}
.dot {
  display: flex !important;
  @apply mt-2 p-0 flex-row bottom-0 justify-center;
}
.dot button {
  @apply cursor-pointer h-3 w-5 mx-2 my-1 bg-gray-300 rounded-[30px];
}
