.portHomeButton {
  @apply bg-backgroundColor-skin-button-accent text-[13px] text-textColor-skin-inverted px-[20px] py-[10px]
  uppercase font-semibold border-2 border-backgroundColor-skin-button-accent border-solid
  hover:bg-transparent hover:text-backgroundColor-skin-button-accent items-center;
}

.portSocialButton {
  @apply bg-backgroundColor-skin-button-accent border-2 border-backgroundColor-skin-button-accent
  border-solid rounded-[4.2em] items-center justify-center
  h-[30px] w-[30px] 
  hover:bg-transparent hover:text-backgroundColor-skin-button-accent;
}

.portServiceButton {
  @apply bg-transparent 
  flex 
  border-[1px] border-backgroundColor-skin-button-service border-solid rounded-[4.2em]
  items-center justify-center
  h-[80px] w-[80px]
  hover:shadow-2xl
  hover:transform hover:duration-500;
}

.disable {
  @apply cursor-not-allowed bg-backgroundColor-skin-button-disable opacity-50 text-[13px] text-textColor-skin-inverted px-[20px] py-[10px]
  uppercase font-semibold border-2 border-backgroundColor-skin-button-disable border-solid;
}
